<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
<!--  <meta name="description" content="">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>비밀번호 변경</title>
</head>
<body>


<h1>비밀번호 변경</h1>
<form>
  <label for="current-password">현재 비밀번호:</label>
  <input type="password" id="current-password" name="currentPassword" required>
  <br>
  <label for="new-password">새로운 비밀번호:</label>
  <input type="password" id="new-password" name="newPassword" required>
  <br>
  <label for="confirm-password">비밀번호 확인:</label>
  <input type="password" id="confirm-password" name="confirmPassword" required>
  <br>
  <input type="submit" value="비밀번호 변경">
</form>
</body>
</html>