<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>본인확인</title>
</head>
<body>
    <div class="int-area1">
<!--      <input type="" name ="question" id="question">-->
      <label for="question2" id="question2"> 질문을 골라주세요 </label>
<!--      html 제대로 쓴지 모르겟음-->
      <select name ="question2" >
        <option value = "">질문</option>
        <option value = "아버지의 성함은?">아버지의 성함은?</option>
        <option value = "어머니의 성함은?">어머니의 성함은?</option>
      </select>
    </div>

    <div class="int-area">
      <input type="answer2" name ="answer2" id="answer2" maxlength="255" minlength="3" autocomplete="off" required>
      <label for="answer2"> 답변을 입력해주세요 </label>
    </div>

    <form action="/loginClient/Identification" method="get">
        <button class="w-100 btn btn-dark btn-lg" type="submit">
            확인
        </button>
    </form>






</body>
</html>